@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

hr{

margin: 2rem 0rem;

}

:root {
    --primary-color: #38bdf8;
    --dark-grey: #64748b;
    --light-grey: #cbd5e1;
    --blackish-grey: rgb(46, 47, 52);
    --blackish-light-grey: rgb(52, 53, 58);

}

/** spaces **/

.margim-md{
    margin: 2rem;
}



/** Container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;

    /** instead you can use
    
    padding: 0rem 1rem;

    The first value goes to Top and Bottom and 
    the second to Left and Right respectively
    
    **/
}

.container-center {
    max-width: 600px;
    padding: 0 4rem;
    margin: 0;

}

.container-center-section2{
    
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin: 0;
    text-align: center;
}

.small-color{
    color: var(--primary-color);
}

.container-left {
    
    margin: left;
    color: white;
    padding: 0 4px;
    margin: 0;
}

.container-right {

    color: white;
    padding: 0;
    margin: 0;
}

/** Links **/

.link{
    
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: right;
    color: white;

}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** Lists **/

.non-bullet{
    list-style: none;    
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;

}




/** Navigation **/

.navigation{
    background-color: var(--blackish-grey);
    color: white;
    padding: 1rem 7rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .align-left{
    text-align: left;
    text-decoration: none;
    padding: 0.5rem 1rem
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1rem;
}

.navigation .link-active{
    font-weight: bold;
}

/** Header **/

.hero{
    padding: 2rem;
    background-color: var(--blackish-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
   
}



.hero .hero-img{
    margin: auto;
    display:block;
    max-width: 350px;
}

.hero .hero-heading{
    padding-top: 1rem;
    color: var(--dark-grey);
    text-align:center;
}

.hero .hero-heading .heading-inversion{
    color: var(--primary-color);
}

/** Sections **/

.section{
    padding:2rem;
    display: grid;
    grid-template-columns:1fr 0.5fr;
    
    padding:0%;
    padding-bottom: 7rem;;
    
}

.background_image{
    background-image: url("images/bg.jpg");
    background-size: 1050px 500px;
    background-position: center center;
}

.section h3{
    text-align: left;
    
}



.ow{
    background-color: var(--light-grey);

}

.section2{
    background-color: var(--blackish-light-grey);
}


.section .heading{

    color: white;
    text-align:left;
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.section2-header{
    padding:0;
    color: white;
    font-size: 30px;
}


.section2-indepth{
    padding: 0.4rem 16rem;
    color: white;
}


.info_spacer {
    display: inline-block;
    height: 1px;
    width: 100px;
    background-color: var(--light-grey);
    margin-bottom: 1px;
  
  }

  .list_head{
    list-style: none;
   text-align: left;
   display: inline;
   padding: 0;
    margin: 0;
  }

  .link1{
    
    text-decoration: none;
    padding: 0;
    text-align: left;
    color: white;

}

.heading-right{

    color: white;
    text-align:right;
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.section .image{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.my_info{
    text-align: left;
    font-size: 30px;
    padding-right: 8rem;
    padding-top: 0.8rem;
    margin: 0;
}

.my_info_depth{
    text-align: left;
    padding-right: 8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin: 0;
    
}


.learn_more{
    text-decoration: none;
    color: white;
    padding-top: 0.8rem;
}





/** Skills Bar **/


.container-skill {
    padding: 0 8rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--blackish-light-grey);
    flex-wrap: wrap;
  }


  svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
.c-colorps{
    stroke: var(--primary-color);
}

.c-colorhtml{
    stroke: rgba(228, 77, 38);
}

.c-colorcss{
    stroke: rgba(28, 136, 199);
}

.c-colorjs{
    stroke: rgba(241, 190, 37);
}

  svg circle {
    position: absolute;
    transform: scale(0.939);
    transform-origin: center;
    fill: none;
    stroke: rgba(234, 119, 255);
    stroke-width: 15px;
    stroke-dasharray: 630px;
    /* stroke-dashoffset: 630px; */
  }

  /* svg circle {
      stroke-dashoffset: calc(950 - (950*10) / 100);
  } */
  @keyframes bar_1 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (255px * 90) / 100);
    }
  }
  
  @keyframes bar_2 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (260px * 85) / 100);
    }
  }

  @keyframes bar_3 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (235px * 80) / 100);
    }
  }
  
  @keyframes bar_4 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (210px * 80) / 100);
    }
  }

  @keyframes bar_5 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (185px * 80) / 100);
    }
  }

  .bar1:nth-child(1) svg circle {
    animation: bar_1 1s ease forwards;
  }

  .bar2:nth-child(2) svg circle {
    animation: bar_2 1s ease forwards;
  }

  .bar3:nth-child(3) svg circle {
    animation: bar_3 1s ease forwards;
  }

  .bar4:nth-child(4) svg circle {
    animation: bar_4 1s ease forwards;
  }

  .bar5:nth-child(5) svg circle {
    animation: bar_5 1s ease forwards;
  }

 
  .bar1 {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    background-image: url("images/pr.png");
    background-size: 99px 99px;
    background-position: center center;
    overflow: hidden;
    margin: 50px;
    
  }
  .bar1:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;    
  }


  .bar2 {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    background-image: url("images/ps.png ");
    background-size: 99px 99px;
    background-position: center center;
    overflow: hidden;
    margin: 50px;
  }

  .bar2:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }



  .bar3 {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    background-image: url("images/html5.png ");
    background-size: 99px 99px;
    background-position: center center;
    overflow: hidden;
    margin: 50px;
  }

  .bar3:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }


  .bar4 {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    background-image: url("images/css.png ");
    background-size: 99px 99px;
    background-position: center center;
    overflow: hidden;
    margin: 50px;
  }

  .bar4:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  .bar5 {
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    background-image: url("images/js.png ");
    background-size: 99px 99px;
    background-position: center center;
    overflow: hidden;
    margin: 50px;
  }

  .bar5:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

















    
/** Footer **/

.footer{
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}


.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer .link{
    color:white;
}